* {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
	background-image: linear-gradient(135deg, #250d38 0%, #6075d3 100%);
}

header {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	display: flex;
	width: 90%;
	padding: 30px 100px;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	font-size: 32px;
	font-weight: 700;
	z-index: 8;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul li {
	margin-left: 20px;
}

header nav ul li a {
	padding: 5px 10px;
	color: #fff;
	border-radius: 50px;
}

header nav ul li a.home {
	color: #000;
	background-color: #fff;
}

header nav ul li a:hover {
	color: #f1c40f;
	background-color: #fff;
}

section {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	padding: 100px;
	justify-content: center;
	align-items: center;
}

section::before {
	position: absolute;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	height: 100px;
	content: '';
	background: linear-gradient(to top, #1c0522, transparent);
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	-o-object-fit: cover;
	object-fit: cover;
}

section img#moon {
	mix-blend-mode: screen;
}

section img#moutain_front {
	z-index: 100;
}

section #textMoon {
	font-size: 100px;
	font-weight: 700;
	position: absolute;
	z-index: 9;
	right: -350px;
	white-space: nowrap;
	color: #fff;
}

section #btnExplore {
	font-size: 18px;
	font-weight: 300;
	z-index: 9;
	display: inline-block;
	padding: 5px 15px;
	transform: translateY(100px);
	color: #0d4291;
	border-radius: 50px;
	background-color: #fff;
}

.intro {
	position: relative;
	padding: 100px;
	background-color: #1c0522;
}

.intro h2 {
	font-size: 30px;
	margin-bottom: 40px;
	color: #fff;
}

.intro p {
	font-size: 20px;
	text-align: justify;
	color: #fff;
}

