html, body {
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  cursor: pointer;
  width: 350px;
  height: 480px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .postion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
  }
  .front {
    transform: perspective(600px) rotateY(0deg);
    img {
      height: 100%;

    }
    
  }
  .back {
    background-color: white;
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

      .avatar {
        overflow: hidden;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 100%;
          
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-content {
        color: #333;
        text-align: center;
        width: 100%;
        font-size: 24px;

        .item-socialMedia {
          margin: 20px 0;
          a {
            display: inline-flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            border-radius: 50%;
            color: #333;
            font-size: 18px;
    
            &:hover {
              background-color: #999;
              color: white;
            }
          }
        }
      }

      
    
    
  }
  &:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
  }
  &:hover > .back {
    transform: perspective(600px) rotateY(0deg);
  }
}

