html,
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1100px;
  margin   : 0 auto;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

a {
  color: #fff;
}



.top-banner {
  width         : 100%;
  height        : 100vh;
  background    : url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2021/study-course-starter-demo_Free/1612283260/web/assets/images/banner2.jpg") no-repeat top center/cover;
  display       : flex;
  flex-direction: column;


  &::before {
    content         : '';
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100vh;
    background-image: linear-gradient(to top, #281499 0%, #a93fbe 100%);
    opacity         : 0.8;

  }

  header {
    padding      : 10px 20px;
    border-bottom: 1px solid rgba(#999, 0.7);
    position     : relative;
    z-index      : 1;


    .container {
      .logo {
        align-items: flex-start;

        i {
          margin-top: 20px;
          font-size : 24px;
          color     : #FE79A2;
        }

        .logo-info {
          margin: 10px 2px;
          color : #fff;

          h2 {
            font-size: 24px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      nav {
        ul {
          li {
            margin-left: 20px;

            a {

              color: #fff;
            }
          }
        }
      }

      .header-right {
        li {
          margin-left: 20px;

          a {
            i {
              color    : #fff;
              font-size: 18px;
            }
          }
        }
      }
    }
  }


  .content {

    position       : relative;
    z-index        : 1;
    color          : #fff;
    flex-grow      : 1;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    width    : 80%;
    top      : 0;
    left     : 50%;
    transform: translateX(-50%);

    h4 {
      font-size: 50px;
    }

    p {
      margin: 20px;
    }

    .btn {
      padding         : 10px 20px;
      background-color: #FE79A2;
      border-radius   : 50px;
    }

  }

  // .waveAnimation {
  //   position: absolute;
  //   width   : 100vw;
  //   z-index : 9;
  //   bottom  : 0;

  //   margin-bottom: -40px;
  // }
}


.courses {
  background-color: #f8f9fa;
  padding         : 40px 0;

  .container {
    text-align: center;

    .course-list {
      .item {
        background-color: white;
        width           : 32%;

        &:hover .item-image img {
          transform: scale(1.3);
        }

        &-image {
          position               : relative;
          overflow               : hidden;
          border-top-left-radius : 5px;
          border-top-right-radius: 5px;
          height                 : 235px;

          img {
            border-top-left-radius : 5px;
            border-top-right-radius: 5px;
            transition             : 0.4s;
            width                  : 100%;
            height                 : 100%;
          }

          .item-level {
            background   : #7f87de;
            color        : white;
            font-size    : 14px;
            padding      : 4px 16px;
            display      : inline-block;
            border-radius: 50px;
            position     : absolute;
            top          : 10px;
            left         : 5px;
          }

          .item-status {
            color           : white;
            position        : absolute;
            top             : 0;
            right           : 0;
            background-color: #7f87de;
            padding         : 5px 15px;

            &::after {
              content     : '';
              position    : absolute;
              border-width: 16px 8px;
              border-style: solid;
              border-color: #7f87de transparent transparent transparent;
              left        : 0;
              top         : 0;
              transform   : translateX(-50%);
            }

            &::before {
              content     : '';
              position    : absolute;
              border-width: 16px 8px;
              border-style: solid;
              border-color: transparent transparent #7f87de transparent;
              left        : 0;
              bottom      : 0;
              transform   : translateX(-50%);
            }
          }
        }

        &-body {
          padding      : 20px;
          border-bottom: 1px solid rgba(#999, 0.2);

          .item-price {
            color: #fe79a2;
          }

          .item-icons {
            li {
              margin-left: 5px;

              i {
                color    : #7f87de;
                font-size: 12px;
              }
            }
          }

          .item-title {
            margin: 15px 0px;

            a {
              font-size : 20px;
              color     : #333;
              transition: 0.2s;

              &:hover {
                color: #7f87de;
              }

            }
          }

          .item-time {
            color       : #666;
            margin-right: 20px;

            i {
              margin-right: 5px;
            }
          }

          .item-user {
            color: #666;

            i {
              margin-right: 5px;

            }

          }
        }

        &-footer {
          padding: 20px;

          .avatar {
            img {
              width        : 40px;
              height       : 40px;
              border-radius: 50%;
            }

            margin-right: 10px;
          }

          p {
            font-size: 14px;

            a {
              font-weight: bold;
              font-size  : 20px;
              color      : #333;

              &:hover {
                color: #7f87de;
              }
            }
          }
        }
      }
    }

    .view-all-course {
      text-align: center;
      width     : 500px;
      margin    : 50px auto;
      color     : #666;

      a {
        font-size  : 18px;
        color      : #fe79a2;
        font-weight: bold;

        i {
          color: rgba(#999, 0.7);
        }
      }
    }
  }
}


.facilities {
  background-color: #f7f7f7;
  padding         : 40px 0;


  .container {

    overflow  : hidden;
    text-align: justify;

    .left {
      margin: 40px;
      width : 50%;

      h3 {
        text-align: left;
        color     : #999;
        font-size : 16px;
      }

      h2 {
        text-align: left;
        font-size : 32px;
      }

      p {
        margin-bottom: 50px;
      }



      .btn {

        background-color: #FE79A2;
        padding         : 15px 40px;
        border-radius   : 50px;
      }
    }

    .right {
      width: 50%;


      .row {
        flex-wrap: wrap;
        margin   : 0 -10px;
      }

      .card {
        padding: 10px;

        width: 50%;

        .content {
          padding         : 20px 20px 60px 20px;
          background-color: white;
          border-radius   : 10px;

          &:hover {
            box-shadow: 0 0 10px 2px rgba(#333, 0.1);
          }

          i {
            color    : #FE79A2;
            font-size: 24px;
          }

          h2 {
            font-size: 18px;
            margin   : 10px 0;

            a {
              color: #333;

              &:hover {
                color: #FE79A2;

              }
            }
          }
        }
      }
    }
  }
}

.news-same {
  width           : 50%;
  overflow        : hidden;
  border-radius   : 20px;
  position        : relative;
  top             : 0;
  left            : 0;
  background-color: black;
  margin-right    : 10px;

  &:hover {
    transform : translateY(-2px);
    box-shadow: 0px 2px 10px #999;

  }

  &::before {
    content      : '';
    width        : 100%;
    height       : 100%;
    border-radius: 20px;
    background   : url("https://demo.w3layouts.com/demos_new/template_demo/18-03-2021/study-course-starter-demo_Free/1612283260/web/assets/images/banner1.jpg") no-repeat top left/cover;
    opacity      : 0.4;
    position     : absolute;
    top          : 0;
    left         : 0;
    z-index      : 19;


  }

  .news-content {
    position: absolute;
    bottom  : 0;
    left    : 0;
    z-index : 20;
    margin  : 30px;


    .link_title {
      font-size  : 20px;
      font-weight: 700;

    }

    .author {
      width     : 100%;
      height    : 50px;
      margin-top: 10px;

      img {
        width        : 40px;
        height       : 40px;
        border-radius: 50%;
        margin-right : 20px;
      }

      ul {
        li {
          margin-right: 5px;
          font-size   : 18px;
          font-weight : bold;
          color       : white;

          span {
            margin-right: 10px;
            font-size   : 13px;
            font-weight : 300;

            i {
              margin-right: 4px;
            }

          }
        }
      }
    }
  }



}


.lastestNews {
  width: 100%;

  .container {

    width : 100%;
    margin: 50px 0px;

    .news {
      width : 100%;
      height: 500px;
      margin: 30px 0;

      .news-left {
        width : 50%;
        height: 100%;
      }

      .news-right {
        width      : 50%;
        margin-left: 10px;

        .news-right-top {
          width        : 100%;
          height       : 48%;
          margin-bottom: 2px;
          top          : 0;
        }

        .news-right-bottom {
          width : 100%;
          height: 48%;
          bottom: 0;

        }

      }
    }

    .viewAll {
      color      : #FE79A2;
      font-size  : 18px;
      font-weight: 700;
    }
  }
}


.contact {
  width     : 100%;
  height    : 400px;
  background: url("../images/studyCourse/banner1.jpg") no-repeat top center/cover;
  position  : relative;

  &::before {
    content         : '';
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-image: linear-gradient(to top, #281499 0%, #a93fbe 100%);
    opacity         : 0.6;
  }

  .container {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    left      : 50%;
    transform : translateX(-50%);
    text-align: center;

    .middle-contact {
      h5 {
        color         : #ccc;
        text-transform: uppercase;
        font-size     : 18px;
        margin-bottom : 20px;
      }

      h3 {
        color        : #ddd;
        margin-bottom: 50px;
        font-size    : 30px;

      }

      .btnWh {
        padding      : 15px 30px;
        border-radius: 50px;
        border       : 1px solid #fff;
        font-weight  : 700;
        transition   : 0.4s;

        &:hover {
          background: white;
          color     : black;
        }
      }

      .btnPink {
        padding         : 15px 30px;
        border-radius   : 50px;
        background-color: #fe79a2;
        font-weight     : 700;
        margin-left     : 20px;
        transition      : 0.4s;

        &:hover {
          background: #ee569d;
        }
      }
    }

  }
}

.teachers {
  width     : 100%;
  height    : 600px;
  margin-top: 100px;

  .container {
    width : 100%;
    height: 100%;

    .left {
      width      : 40%;
      height     : 100%;
      padding-top: 20px;

      h3 {
        color    : #333;
        font-size: 30px;
      }

      h5 {
        color    : #999;
        font-size: 14px;
      }

      p {
        margin   : 30px 0;
        color    : #777;
        font-size: 18px;
      }

      .btn {
        padding      : 15px 30px;
        background   : #fe79a2;
        border-radius: 50px;

      }
    }

    .right {
      width : 55%;
      height: 100%;

      .row {
        flex-wrap: wrap;
        width    : 100%;
        height   : 100%;

        .teacher {
          width       : 45%;
          height      : 45%;
          position    : relative;
          margin-right: 20px;


          img {
            border-radius: 20px;
            width        : 100%;
            height       : 100%;

          }

          &:hover {

            &:after {
              content         : '';
              position        : absolute;
              z-index         : 1;
              top             : 0;
              left            : 0;
              width           : 100%;
              height          : 100%;
              border-radius   : 20px;
              background-color: rgba(#333, 0.6);
            }
          }



          &:hover .content .name {
            transform: translateY(0px);
          }

          &:hover .content .line {
            transform: translateY(0px);
            opacity  : 1;
          }

          &:hover .content .icons {
            transform: scaleY(1);
            opacity  : 1;
          }

          .content {
            position  : absolute;
            z-index   : 10;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
            text-align: center;
            z-index   : 2;

            .name {
              color: white;

              h3 {
                font-size: 14px;
              }

              transition: 0.4s;
              transform : translateY(120px);

            }

            .line {
              background-color: white;
              width           : 40px;
              height          : 2px;
              margin          : 10px auto;
              transform       : translateY(20px);
              opacity         : 0;
              transition      : 0.4s;
            }

            .icons {
              transform : scaleY(0.6);
              opacity   : 0;
              transition: 0.8s;
            }

            .icon {
              width           : 40px;
              height          : 40px;
              border-radius   : 50%;
              margin-right    : 10px;
              background-color: #1545CB;

              i {
                color    : #fff;
                font-size: 18px;
              }

              &:last-child {
                margin-right    : 0;
                background-color: #007bff;
              }
            }
          }
        }
      }
    }
  }
}

.gray {
  color: #999;
}

.feedbacks {
  background-color: #f7f7f7;
  margin-top      : 50px 0;
  padding-bottom  : 80px;

  .container {
    width : 100%;
    height: 500px;

    h5 {
      color     : #999;
      font      : 20px;
      margin-top: 50px;
    }

    h3 {
      font-size: 28px;
    }

    .feedback-bt {
      .feedback {
        margin          : 0 30px;
        width           : 30%;
        height          : 100%;
        text-align      : center;
        background-color: #fff;
        border-radius   : 10px;
        padding         : 20px 10px;

        i {
          color: #fe79a2;
        }

        .fb {
          width : 100%;
          height: 100%;

          .author {
            margin-top: 20px;
            text-align: left;

            img {
              width        : 50px;
              height       : 50px;
              border-radius: 50%;
              margin-right : 20px;
            }
          }
        }


      }
    }

    .link {
      margin: 50px 0;

      .blue {
        width           : 30px;
        height          : 10px;
        background-color: blue;
        border-radius   : 50px;
        cursor          : pointer;
      }

      .light {
        width           : 10px;
        background-color: rgba(blue, 0.5);
        margin-bottom   : 50px;

        &.mid {
          margin: 0 5px;

        }
      }

    }
  }

}

.brand {
  padding: 50px 0px;

  .container {
    width: 100%;

    .logo {
      width: 100%;

      .logo-brand {
        width  : 17%;
        padding: 0px 20px;

        img {
          width  : 100%;
          opacity: 0.4;

          &:hover {
            opacity: 1;
          }
        }

      }

    }
  }
}

.footer {
  background: #26243c;

  .container {
    .infor {
      border-bottom: 1px solid rgba(#999, 0.3);
      padding      : 60px 0px;

      ul {
        li {
          line-height: 2;

          h3 {
            color         : white;
            font-size     : 24px;
            padding-bottom: 10px;
          }

          a {
            color    : #97a1a9;
            font-size: 17px;

            &:hover {
              color: #fff;
            }
          }

          &.adr {
            width: 300px;
          }

          .icons {

            a {
              margin-right: 10px;
            }
          }

        }
      }

    }
  }


  .copyright {
    padding   : 30px 0px;
    text-align: center;

    p {
      font-size: 17px;
      color    : #97a1a9;

      a {
        color     : #FE79A2;
        transition: 0.4s;


        &:hover {
          color: white;
        }
      }
    }


  }
}