html,
body {
  background-color: #f3d7d7;

  font-family: sans-serif;

}

.container {
  max-width: 1100px;
  margin   : auto;
}

.flex {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;

}

header {
  width: 1100px;


  img {
    width : 100%;
    height: 400px;
  }
}

main {
  width: 1000px;

  .container {

    h1 {
      color        : green;
      text-align   : center;
      font-size    : 60px;
      border-bottom: 1px solid #333;
    }


    .intro {

      position        : relative;
      background-color: #ffb8b8;
      width           : 300px;
      left            : 50%;
      transform       : translateX(-50%);
      border-radius   : 10px;
      padding         : 10px;
      font-family     : inherit;
      margin          : 30px 0;



      .inner {
        width: 200px;


        h2 {
          text-align: center;
          color     : #FC427B;

          &:hover {
            color: rgba(#FC427B, 0.6);
          }
        }

        h3 {
          font-weight: 300;
          font-size  : 18px;
          text-align : left;
          padding    : 5px;

          a {
            color     : #B33771;
            transition: 0.2s;
            margin    : 10px 0;

            &:hover {
              color      : #6D214F;
              font-weight: 700;
            }
          }
        }
      }


    }

    .lessons {

      .lesson {
        margin : 20px 0;
        padding: -20px;


        iframe {
          margin-top: 10px;
          width     : 700px;
          height    : 400px;
        }
      }
    }
  }
}

.btn {
  width           : 50px;
  height          : 50px;
  border-radius   : 50%;
  background-color: #c8d6e5;

  position: fixed;
  right   : 5%;
  bottom  : 15%;

  animation: up 1s infinite;

  i {
    font-size: 20px;
    color    : #2e86de;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: #B33771;
  }
}

@keyframes up {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}