body {
  background-color: #000;

}
.container {
  //c1: sd display: flex
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;

  //c2: position: absolute
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  
  span {
    display: block;
    font-family: sans-serif;
    font-weight: 700;
  }
  .text1 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
  }
  .text2 {
    color: #009432;
    font-size: 30px;
  }
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  40% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}